In [20]:
import pandas_profiling
import nltk
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt 
import seaborn as sb
import warnings 
warnings.filterwarnings("ignore")
import unidecode
from wordcloud import WordCloud
from nltk.stem import WordNetLemmatizer 
nltk.download('wordnet')
from nltk.stem import PorterStemmer
nltk.download('punkt')
from nltk.tokenize import word_tokenize 
import matplotlib.animation as animation
import operator
import plotly.express as px
from collections import Counter
%matplotlib inline

[nltk_data] Downloading package wordnet to /Users/macbook/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /Users/macbook/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [21]:
df = pd.read_csv('data/final.csv')

In [22]:
df.head()

,Unnamed: 0,id,text,label,clean_tweet,Hash Words
0,0,0,Drasko they didn't cook half a bird you idiot ...,1,drasko cook half bird idiot #mkr,#mkr
1,1,1,Hopefully someone cooks Drasko in the next ep ...,1,hope someon cook drasko next ep #mkr,#MKR
2,2,2,of course you were born in serbia...you're as ...,1,cours born serbia...you'r fuck a serbian film ...,#MKR
3,3,3,These girls are the equivalent of the irritati...,1,these girl equival irrit asian girl coupl year...,#MKR
4,4,4,RT @YesYoureRacist: At least you're only a tin...,1,"at least tini bit racist i'm racist, dick is!",No hashtags

In [23]:
df.drop('Unnamed: 0', inplace=True, axis=1)

In [24]:
df.count()

id             30197
text           30197
label          30197
clean_tweet    30192
Hash Words     30197
dtype: int64

In [26]:
df.loc[df.isnull().any(axis=1)]

,id,text,label,clean_tweet,Hash Words
894,894,@purposelyflawed http://t.co/P6KTLT0XBZ,1,NaN,No hashtags
1136,1136,@The_Loki_Jotunn ...WTF?,1,NaN,No hashtags
1219,1219,RT @Dekashoko: @theesadiemarie @MT8_9 http://t...,1,NaN,No hashtags
1283,1283,RT @rapebombing: @TamedInsanity @MT8_9 http://...,1,NaN,No hashtags
7492,7492,@TNKidsFoodPorn @Oreo ..............&#128530;,0,NaN,No hashtags